.button-link,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
.entry .entry-content .wp-block-button .wp-block-button__link,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include button-transition;

	border: none;
	border-radius: $border_radius;
	box-sizing: border-box;
	font-family: $font__heading;
	font-size: $font__size-sm;
	font-weight: 700;
	line-height: $font__line-height-heading;
	outline: none;
	padding: .75rem 1rem;
	text-decoration: none;
	vertical-align: bottom;

	&:focus {
		outline: thin dotted;
		outline-offset: -.5rem;
	}
}

.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
.entry .entry-content .wp-block-button .wp-block-button__link,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	background-color: $color__background-button;
	color: $color__background-body;

	&:hover {
		background-color: $color__background-button-hover;
		color: $color__background-body;
		cursor: pointer;
	}

	&:visited {
		color: $color__background-body;
		text-decoration: none;
	}

	&:focus {
		background-color: $color__background-button-hover;
		color: $color__background-body;
		text-decoration: none;
	}
}
