/*
Theme Name: Helsekompetanse 2019

Adding print support. The print styles are based on the the great work of
Andreas Hecht in https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Margins
# Typography÷
# Page breaks
# Links
# Visibility
--------------------------------------------------------------*/

@media print {

	/* Fonts */

	body {
		font: 12pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}

	/* Page breaks */

	blockquote {
		page-break-inside: avoid;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		page-break-inside: avoid
	}

	.entry-summary img,
	.entry-content img {
		display: block;
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	table, pre {
		page-break-inside: avoid;
	}

	ul, ol, dl {
		page-break-before: avoid;
	}

	/* Visibility */
	.sidebar {
		display: none;
	}
}
