@charset "UTF-8";
/*!
Helsekompetanse 2019 Editor Styles
*/
/** === Includes === */
/*
 * Chrome renders extra-wide &nbsp; characters for the Hoefler Text font.
 * This results in a jumping cursor when typing in both the Classic and block
 * editors. The following font-face override fixes the issue by manually inserting
 * a custom font that includes just a Hoefler Text space replacement for that
 * character instead.
 */
/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Fallback for non-latin fonts */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 5 levels deep */
.cw,
.contentwidth {
  margin-left: 1rem;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .cw,
  .contentwidth {
    margin-left: calc(10vw + 3rem);
    max-width: calc(50vw - 1rem);
  }
}

.ww,
.widewidth {
  clear: both;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .ww,
  .widewidth {
    margin-left: calc(10vw + 3rem);
    margin-right: calc(10vw + 3rem);
  }
}

html .m-0,
.entry .entry-content .m-0,
.entry .entry-summary .m-0 {
  margin: 0      !important;
}

html .m-1,
.entry .entry-content .m-1,
.entry .entry-summary .m-1 {
  margin: .25rem !important;
}

html .m-2,
.entry .entry-content .m-2,
.entry .entry-summary .m-2 {
  margin: .5rem  !important;
}

html .m-3,
.entry .entry-content .m-3,
.entry .entry-summary .m-3 {
  margin: 1rem   !important;
}

html .m-4,
.entry .entry-content .m-4,
.entry .entry-summary .m-4 {
  margin: 2rem   !important;
}

html .m-5,
.entry .entry-content .m-5,
.entry .entry-summary .m-5 {
  margin: 3rem   !important;
}

html .mt-0,
.entry .entry-content .mt-0,
.entry .entry-summary .mt-0 {
  margin-top: 0      !important;
}

html .mt-1,
.entry .entry-content .mt-1,
.entry .entry-summary .mt-1 {
  margin-top: .25rem !important;
}

html .mt-2,
.entry .entry-content .mt-2,
.entry .entry-summary .mt-2 {
  margin-top: .5rem  !important;
}

html .mt-3,
.entry .entry-content .mt-3,
.entry .entry-summary .mt-3 {
  margin-top: 1rem   !important;
}

html .mt-4,
.entry .entry-content .mt-4,
.entry .entry-summary .mt-4 {
  margin-top: 2rem   !important;
}

html .mt-5,
.entry .entry-content .mt-5,
.entry .entry-summary .mt-5 {
  margin-top: 3rem   !important;
}

html .mr-0,
.entry .entry-content .mr-0,
.entry .entry-summary .mr-0 {
  margin-right: 0      !important;
}

html .mr-1,
.entry .entry-content .mr-1,
.entry .entry-summary .mr-1 {
  margin-right: .25rem !important;
}

html .mr-2,
.entry .entry-content .mr-2,
.entry .entry-summary .mr-2 {
  margin-right: .5rem  !important;
}

html .mr-3,
.entry .entry-content .mr-3,
.entry .entry-summary .mr-3 {
  margin-right: 1rem   !important;
}

html .mr-4,
.entry .entry-content .mr-4,
.entry .entry-summary .mr-4 {
  margin-right: 2rem   !important;
}

html .mr-5,
.entry .entry-content .mr-5,
.entry .entry-summary .mr-5 {
  margin-right: 3rem   !important;
}

html .mb-0,
.entry .entry-content .mb-0,
.entry .entry-summary .mb-0 {
  margin-bottom: 0      !important;
}

html .mb-1,
.entry .entry-content .mb-1,
.entry .entry-summary .mb-1 {
  margin-bottom: .25rem !important;
}

html .mb-2,
.entry .entry-content .mb-2,
.entry .entry-summary .mb-2 {
  margin-bottom: .5rem  !important;
}

html .mb-3,
.entry .entry-content .mb-3,
.entry .entry-summary .mb-3 {
  margin-bottom: 1rem   !important;
}

html .mb-4,
.entry .entry-content .mb-4,
.entry .entry-summary .mb-4 {
  margin-bottom: 2rem   !important;
}

html .mb-5,
.entry .entry-content .mb-5,
.entry .entry-summary .mb-5 {
  margin-bottom: 3rem   !important;
}

html .ml-0,
.entry .entry-content .ml-0,
.entry .entry-summary .ml-0 {
  margin-left: 0      !important;
}

html .ml-1,
.entry .entry-content .ml-1,
.entry .entry-summary .ml-1 {
  margin-left: .25rem !important;
}

html .ml-2,
.entry .entry-content .ml-2,
.entry .entry-summary .ml-2 {
  margin-left: .5rem  !important;
}

html .ml-3,
.entry .entry-content .ml-3,
.entry .entry-summary .ml-3 {
  margin-left: 1rem   !important;
}

html .ml-4,
.entry .entry-content .ml-4,
.entry .entry-summary .ml-4 {
  margin-left: 2rem   !important;
}

html .ml-5,
.entry .entry-content .ml-5,
.entry .entry-summary .ml-5 {
  margin-left: 3rem   !important;
}

html .p-0,
.entry .entry-content .p-0,
.entry .entry-summary .p-0 {
  padding: 0      !important;
}

html .p-1,
.entry .entry-content .p-1,
.entry .entry-summary .p-1 {
  padding: .25rem !important;
}

html .p-2,
.entry .entry-content .p-2,
.entry .entry-summary .p-2 {
  padding: .5rem  !important;
}

html .p-3,
.entry .entry-content .p-3,
.entry .entry-summary .p-3 {
  padding: 1rem   !important;
}

html .p-4,
.entry .entry-content .p-4,
.entry .entry-summary .p-4 {
  padding: 2rem   !important;
}

html .p-5,
.entry .entry-content .p-5,
.entry .entry-summary .p-5 {
  padding: 3rem   !important;
}

html .pt-0,
.entry .entry-content .pt-0,
.entry .entry-summary .pt-0 {
  padding-top: 0      !important;
}

html .pt-1,
.entry .entry-content .pt-1,
.entry .entry-summary .pt-1 {
  padding-top: .25rem !important;
}

html .pt-2,
.entry .entry-content .pt-2,
.entry .entry-summary .pt-2 {
  padding-top: .5rem  !important;
}

html .pt-3,
.entry .entry-content .pt-3,
.entry .entry-summary .pt-3 {
  padding-top: 1rem   !important;
}

html .pt-4,
.entry .entry-content .pt-4,
.entry .entry-summary .pt-4 {
  padding-top: 2rem   !important;
}

html .pt-5,
.entry .entry-content .pt-5,
.entry .entry-summary .pt-5 {
  padding-top: 3rem   !important;
}

html .pr-0,
.entry .entry-content .pr-0,
.entry .entry-summary .pr-0 {
  padding-right: 0      !important;
}

html .pr-1,
.entry .entry-content .pr-1,
.entry .entry-summary .pr-1 {
  padding-right: .25rem !important;
}

html .pr-2,
.entry .entry-content .pr-2,
.entry .entry-summary .pr-2 {
  padding-right: .5rem  !important;
}

html .pr-3,
.entry .entry-content .pr-3,
.entry .entry-summary .pr-3 {
  padding-right: 1rem   !important;
}

html .pr-4,
.entry .entry-content .pr-4,
.entry .entry-summary .pr-4 {
  padding-right: 2rem   !important;
}

html .pr-5,
.entry .entry-content .pr-5,
.entry .entry-summary .pr-5 {
  padding-right: 3rem   !important;
}

html .pb-0,
.entry .entry-content .pb-0,
.entry .entry-summary .pb-0 {
  padding-bottom: 0      !important;
}

html .pb-1,
.entry .entry-content .pb-1,
.entry .entry-summary .pb-1 {
  padding-bottom: .25rem !important;
}

html .pb-2,
.entry .entry-content .pb-2,
.entry .entry-summary .pb-2 {
  padding-bottom: .5rem  !important;
}

html .pb-3,
.entry .entry-content .pb-3,
.entry .entry-summary .pb-3 {
  padding-bottom: 1rem   !important;
}

html .pb-4,
.entry .entry-content .pb-4,
.entry .entry-summary .pb-4 {
  padding-bottom: 2rem   !important;
}

html .pb-5,
.entry .entry-content .pb-5,
.entry .entry-summary .pb-5 {
  padding-bottom: 3rem   !important;
}

html .pl-0,
.entry .entry-content .pl-0,
.entry .entry-summary .pl-0 {
  padding-left: 0      !important;
}

html .pl-1,
.entry .entry-content .pl-1,
.entry .entry-summary .pl-1 {
  padding-left: .25rem !important;
}

html .pl-2,
.entry .entry-content .pl-2,
.entry .entry-summary .pl-2 {
  padding-left: .5rem  !important;
}

html .pl-3,
.entry .entry-content .pl-3,
.entry .entry-summary .pl-3 {
  padding-left: 1rem   !important;
}

html .pl-4,
.entry .entry-content .pl-4,
.entry .entry-summary .pl-4 {
  padding-left: 2rem   !important;
}

html .pl-5,
.entry .entry-content .pl-5,
.entry .entry-summary .pl-5 {
  padding-left: 3rem   !important;
}

html .my-0,
.entry .entry-content .my-0,
.entry .entry-summary .my-0 {
  margin-top: 0      !important;
  margin-bottom: 0      !important;
}

html .my-1,
.entry .entry-content .my-1,
.entry .entry-summary .my-1 {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

html .my-2,
.entry .entry-content .my-2,
.entry .entry-summary .my-2 {
  margin-top: .5rem  !important;
  margin-bottom: .5rem  !important;
}

html .my-3,
.entry .entry-content .my-3,
.entry .entry-summary .my-3 {
  margin-top: 1rem   !important;
  margin-bottom: 1rem   !important;
}

html .my-4,
.entry .entry-content .my-4,
.entry .entry-summary .my-4 {
  margin-top: 2rem   !important;
  margin-bottom: 2rem   !important;
}

html .my-5,
.entry .entry-content .my-5,
.entry .entry-summary .my-5 {
  margin-top: 3rem   !important;
  margin-bottom: 3rem   !important;
}

html .py-0,
.entry .entry-content .py-0,
.entry .entry-summary .py-0 {
  padding-top: 0      !important;
  padding-bottom: 0      !important;
}

html .py-1,
.entry .entry-content .py-1,
.entry .entry-summary .py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

html .py-2,
.entry .entry-content .py-2,
.entry .entry-summary .py-2 {
  padding-top: .5rem  !important;
  padding-bottom: .5rem  !important;
}

html .py-3,
.entry .entry-content .py-3,
.entry .entry-summary .py-3 {
  padding-top: 1rem   !important;
  padding-bottom: 1rem   !important;
}

html .py-4,
.entry .entry-content .py-4,
.entry .entry-summary .py-4 {
  padding-top: 2rem   !important;
  padding-bottom: 2rem   !important;
}

html .py-5,
.entry .entry-content .py-5,
.entry .entry-summary .py-5 {
  padding-top: 3rem   !important;
  padding-bottom: 3rem   !important;
}

html .mx-0,
.entry .entry-content .mx-0,
.entry .entry-summary .mx-0 {
  margin-right: 0      !important;
  margin-left: 0      !important;
}

html .mx-1,
.entry .entry-content .mx-1,
.entry .entry-summary .mx-1 {
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}

html .mx-2,
.entry .entry-content .mx-2,
.entry .entry-summary .mx-2 {
  margin-right: .5rem  !important;
  margin-left: .5rem  !important;
}

html .mx-3,
.entry .entry-content .mx-3,
.entry .entry-summary .mx-3 {
  margin-right: 1rem   !important;
  margin-left: 1rem   !important;
}

html .mx-4,
.entry .entry-content .mx-4,
.entry .entry-summary .mx-4 {
  margin-right: 2rem   !important;
  margin-left: 2rem   !important;
}

html .mx-5,
.entry .entry-content .mx-5,
.entry .entry-summary .mx-5 {
  margin-right: 3rem   !important;
  margin-left: 3rem   !important;
}

html .px-0,
.entry .entry-content .px-0,
.entry .entry-summary .px-0 {
  padding-right: 0      !important;
  padding-left: 0      !important;
}

html .px-1,
.entry .entry-content .px-1,
.entry .entry-summary .px-1 {
  padding-right: .25rem !important;
  padding-left: .25rem !important;
}

html .px-2,
.entry .entry-content .px-2,
.entry .entry-summary .px-2 {
  padding-right: .5rem  !important;
  padding-left: .5rem  !important;
}

html .px-3,
.entry .entry-content .px-3,
.entry .entry-summary .px-3 {
  padding-right: 1rem   !important;
  padding-left: 1rem   !important;
}

html .px-4,
.entry .entry-content .px-4,
.entry .entry-summary .px-4 {
  padding-right: 2rem   !important;
  padding-left: 2rem   !important;
}

html .px-5,
.entry .entry-content .px-5,
.entry .entry-summary .px-5 {
  padding-right: 3rem   !important;
  padding-left: 3rem   !important;
}

html .py-100vh,
.entry .entry-content .py-100vh,
.entry .entry-summary .py-100vh {
  padding-top: 100vh !important;
  padding-bottom: 100vh !important;
}

html .height-100vh,
.entry .entry-content .height-100vh,
.entry .entry-summary .height-100vh {
  min-height: 100vh !important;
}

html .height-200vh,
.entry .entry-content .height-200vh,
.entry .entry-summary .height-200vh {
  min-height: 200vh !important;
}

html .height-cover,
.entry .entry-content .height-cover,
.entry .entry-summary .height-cover {
  min-height: 20rem !important;
}

html .font-sans,
.entry .entry-content .font-sans,
.entry .entry-summary .font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html .font-serif,
.entry .entry-content .font-serif,
.entry .entry-summary .font-serif {
  font-family: Constantia, Georgia, serif;
}

html .bold,
.entry .entry-content .bold,
.entry .entry-summary .bold {
  font-weight: bold;
  font-weight: 700;
}

html .bolder,
.entry .entry-content .bolder,
.entry .entry-summary .bolder {
  font-weight: bolder;
}

html .font-weight-normal,
.entry .entry-content .font-weight-normal,
.entry .entry-summary .font-weight-normal {
  font-weight: normal;
}

html .font-weight-500,
.entry .entry-content .font-weight-500,
.entry .entry-summary .font-weight-500 {
  font-weight: 500;
}

html .italic,
.entry .entry-content .italic,
.entry .entry-summary .italic {
  font-style: italic;
}

html .text-left,
.entry .entry-content .text-left,
.entry .entry-summary .text-left {
  text-align: left;
}

html .text-right,
.entry .entry-content .text-right,
.entry .entry-summary .text-right {
  text-align: right;
}

html .text-center,
.entry .entry-content .text-center,
.entry .entry-summary .text-center {
  text-align: center;
}

html .text-justify,
html .text-justify-center,
.entry .entry-content .text-justify,
.entry .entry-content .text-justify-center,
.entry .entry-summary .text-justify,
.entry .entry-summary .text-justify-center {
  text-align: justify;
}

html .text-justify-center,
.entry .entry-content .text-justify-center,
.entry .entry-summary .text-justify-center {
  text-align-last: center;
}

html .border-radius,
.entry .entry-content .border-radius,
.entry .entry-summary .border-radius {
  border-radius: 0.25rem;
}

html .has-small-font-size,
.entry .entry-content .has-small-font-size,
.entry .entry-summary .has-small-font-size {
  font-size: 0.8rem;
}

html .has-normal-font-size,
.entry .entry-content .has-normal-font-size,
.entry .entry-summary .has-normal-font-size {
  font-size: 1rem;
}

html .has-medium-font-size,
.entry .entry-content .has-medium-font-size,
.entry .entry-summary .has-medium-font-size {
  font-size: 1.125em;
}

html .has-large-font-size,
.entry .entry-content .has-large-font-size,
.entry .entry-summary .has-large-font-size {
  font-size: 1.6875em;
}

html .has-huge-font-size,
.entry .entry-content .has-huge-font-size,
.entry .entry-summary .has-huge-font-size {
  font-size: 2.25em;
}

html .list-style-none,
html ul.style-none,
.entry .entry-content .list-style-none,
.entry .entry-content ul.style-none,
.entry .entry-summary .list-style-none,
.entry .entry-summary ul.style-none {
  list-style: none;
  padding-left: 0;
}

html .transparent-bg,
.entry .entry-content .transparent-bg,
.entry .entry-summary .transparent-bg {
  background: transparent;
}

html .d-block,
html .block,
.entry .entry-content .d-block,
.entry .entry-content .block,
.entry .entry-summary .d-block,
.entry .entry-summary .block {
  display: block;
}

html .d-block-center,
.entry .entry-content .d-block-center,
.entry .entry-summary .d-block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

html .d-flex,
.entry .entry-content .d-flex,
.entry .entry-summary .d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

html .d-flex.align-items-stretch,
.entry .entry-content .d-flex.align-items-stretch,
.entry .entry-summary .d-flex.align-items-stretch {
  align-items: stretch;
}

html .d-flex.align-items-end,
.entry .entry-content .d-flex.align-items-end,
.entry .entry-summary .d-flex.align-items-end {
  align-items: flex-end;
}

html .d-flex.align-items-center,
.entry .entry-content .d-flex.align-items-center,
.entry .entry-summary .d-flex.align-items-center {
  align-items: center;
}

html .d-flex.justify-content-around,
.entry .entry-content .d-flex.justify-content-around,
.entry .entry-summary .d-flex.justify-content-around {
  justify-content: space-around;
}

html .d-flex.justify-content-between,
.entry .entry-content .d-flex.justify-content-between,
.entry .entry-summary .d-flex.justify-content-between {
  justify-content: space-between;
}

html .d-flex.justify-content-end,
.entry .entry-content .d-flex.justify-content-end,
.entry .entry-summary .d-flex.justify-content-end {
  justify-content: flex-end;
}

html .d-flex.justify-content-center,
.entry .entry-content .d-flex.justify-content-center,
.entry .entry-summary .d-flex.justify-content-center {
  justify-content: center;
}

html .d-flex.flex-column,
.entry .entry-content .d-flex.flex-column,
.entry .entry-summary .d-flex.flex-column {
  flex-direction: column;
}

html .d-flex.wrap,
.entry .entry-content .d-flex.wrap,
.entry .entry-summary .d-flex.wrap {
  flex-wrap: wrap;
}

/** === Editor Frame === */
body .wp-block[data-align="full"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  body .wp-block[data-align="full"] {
    width: calc( 100% + 90px);
    max-width: calc( 100% + 90px);
  }
}

@media only screen and (min-width: 768px) {
  body .editor-writing-flow {
    max-width: 80%;
    margin: 0 10%;
  }
  body .editor-post-title__block,
  body .editor-default-block-appender,
  body .editor-block-list__block {
    margin-left: 0;
    margin-right: 0;
  }
  body .wp-block[data-align="wide"] {
    width: 100%;
  }
  body .wp-block[data-align="full"] {
    position: relative;
    max-width: calc( 125% + 115px);
  }
  body .wp-block[data-align="right"] {
    max-width: 125%;
  }
}

/** === Content Width === */
.wp-block {
  width: calc(100vw - (2 * 1rem));
  max-width: 100%;
  margin-left: unset;
  margin-right: unset;
}

@media only screen and (min-width: 768px) {
  .wp-block {
    width: calc(8 * (100vw / 12));
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block {
    width: calc(6 * (100vw / 12 ));
  }
}

.wp-block .wp-block {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .wp-block .wp-block[data-align="full"] {
    position: static;
    width: calc( 100% + 90px);
  }
}

/** === Base Typography === */
.has-normal-font-size,
body {
  font-size: 1.25rem;
  line-height: 1.8;
}

body {
  font-family: Constantia, Georgia, serif;
  color: #111;
}

html.font-sans body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-weight: 700;
}

h1 {
  font-size: 2.25em;
  margin: 3rem 0;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.8125em;
  }
}

h2 {
  font-size: 1.6875em;
  margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 1.125em;
  line-height: 1;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

h4 {
  color: #767676;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-weight: 300;
}

h5,
h6 {
  font-style: italic;
}

a {
  transition: color 110ms ease-in-out;
  color: #0073aa;
}

a:hover, a:active {
  color: #005177;
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: underline;
}

.has-primary-background-color,
.has-secondary-background-color,
.has-dark-gray-background-color,
.has-light-gray-background-color {
  color: #fff;
}

.has-primary-background-color p,
.has-primary-background-color h1,
.has-primary-background-color h2,
.has-primary-background-color h3,
.has-primary-background-color h4,
.has-primary-background-color h5,
.has-primary-background-color h6,
.has-primary-background-color a,
.has-secondary-background-color p,
.has-secondary-background-color h1,
.has-secondary-background-color h2,
.has-secondary-background-color h3,
.has-secondary-background-color h4,
.has-secondary-background-color h5,
.has-secondary-background-color h6,
.has-secondary-background-color a,
.has-dark-gray-background-color p,
.has-dark-gray-background-color h1,
.has-dark-gray-background-color h2,
.has-dark-gray-background-color h3,
.has-dark-gray-background-color h4,
.has-dark-gray-background-color h5,
.has-dark-gray-background-color h6,
.has-dark-gray-background-color a,
.has-light-gray-background-color p,
.has-light-gray-background-color h1,
.has-light-gray-background-color h2,
.has-light-gray-background-color h3,
.has-light-gray-background-color h4,
.has-light-gray-background-color h5,
.has-light-gray-background-color h6,
.has-light-gray-background-color a {
  color: #fff;
}

.has-white-background-color {
  color: #111;
}

.has-white-background-color p,
.has-white-background-color h1,
.has-white-background-color h2,
.has-white-background-color h3,
.has-white-background-color h4,
.has-white-background-color h5,
.has-white-background-color h6,
.has-white-background-color a {
  color: #111;
}

figcaption,
.gallery-caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  color: #767676;
}

/** === Post Title === */
.editor-post-title__block:before {
  width: 3.375em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  position: relative;
  top: 0.5em;
}

.editor-post-title__block .editor-post-title__input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 3.375em;
  font-weight: bold;
  font-weight: 700;
}

/** === Default Appender === */
.editor-default-block-appender .editor-default-block-appender__content {
  font-family: Constantia, Georgia, serif;
  font-size: 1rem;
}

/** === Heading === */
.wp-block-heading strong {
  font-weight: bolder;
}

/** === Paragraph === */
.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 3.6em;
}

/** === Table === */
.wp-block-table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/** === Cover === */
.wp-block-cover h2,
.wp-block-cover .wp-block-cover-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  line-height: 1.4;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.wp-block-cover h2 a,
.wp-block-cover .wp-block-cover-text a {
  color: #fff;
}

.wp-block-cover h2 strong,
.wp-block-cover .wp-block-cover-text strong {
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.wp-block-cover h2:before,
.wp-block-cover .wp-block-cover-text:before {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    font-size: 2.25em;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: calc(8 * (100vw / 12));
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: calc(6 * (100vw / 12));
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/** === Gallery === */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .gallery-item .gallery-caption {
  font-size: 0.8rem;
  line-height: 1.6;
}

/** === Button === */
.wp-block-button .wp-block-button__link {
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background: #0073aa;
}

.wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border-radius: 5px;
}

.wp-block-button.is-style-outline, .wp-block-button.is-style-outline:hover, .wp-block-button.is-style-outline:focus, .wp-block-button.is-style-outline:active {
  background: transparent;
  color: #0073aa;
}

.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline:focus .wp-block-button__link, .wp-block-button.is-style-outline:active .wp-block-button__link {
  background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
  color: #0073aa;
}

/** === Blockquote === */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 2px solid currentColor;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin-top: 2.8125em;
  margin-bottom: 2.8125em;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-size: 1.6875em;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote .wp-block-quote__citation {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  color: #767676;
}

/** === Pullquote === */
.wp-block-pullquote {
  border-color: transparent;
  border-width: 2px;
  color: #000;
}

.wp-block-pullquote blockquote {
  margin-top: calc(3 * 1rem);
  margin-bottom: calc(3.33 * 1rem);
  word-break: break-word;
}

.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation {
  color: #767676;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  width: calc(100% - (2 * 1rem));
  max-width: calc( 100% - (2 * 1rem));
}

.wp-block-pullquote.is-style-solid-color blockquote a,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color p,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color a {
  color: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 80%;
  }
}

.wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
  background-color: #0073aa;
}

.wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p {
  font-size: 1.6875em;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"] p,
  .wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align="left"] p,
  .wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align="right"] p {
    font-size: 2.25em;
  }
}

.wp-block[data-type="core/pullquote"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  text-transform: none;
}

.wp-block[data-type="core/pullquote"] em,
.wp-block[data-type="core/pullquote"][data-align="left"] em,
.wp-block[data-type="core/pullquote"][data-align="right"] em {
  font-style: normal;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
  width: calc(4 * (100vw / 12));
  max-width: 50%;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color),
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color {
  padding: 1em;
}

.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote blockquote {
    max-width: calc(80% - 128px);
  }
}

/** === File === */
.wp-block-file {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
  color: #0073aa;
}

.wp-block-file .wp-block-file__textlink:hover {
  color: #005177;
  text-decoration: none;
}

.wp-block-file .wp-block-file__button {
  display: table;
  line-height: 1.8;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #0073aa;
  border-radius: 5px;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: block;
  margin-top: calc(0.75 * 1rem);
  margin-left: 0;
}

/** === Verse === */
.wp-block-verse,
.wp-block-verse pre {
  padding: 0;
}

/** === Code === */
.wp-block-code {
  border-radius: 0;
}

/** === Table === */
.wp-block-table td, .wp-block-table th {
  border-color: #767676;
}

/** === Separator === */
.wp-block-separator:not(.is-style-dots) {
  border-bottom: 2px solid #767676;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 2.25em;
  margin-left: 0;
}

.wp-block-separator.is-style-dots:before {
  color: #767676;
  font-size: 1.6875em;
  letter-spacing: calc(2 * 1rem);
  padding-left: calc(2 * 1rem);
}

/* Remove duplicate rule-line when a separator
 * is followed by an H1, or H2 */
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h1:before,
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h2:before {
  display: none;
}

/** === Latest Posts, Archives, Categories === */
ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding: 0;
  list-style-type: none;
}

ul.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul {
  padding: 0;
  list-style-type: none;
}

ul.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  color: #767676;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 0.75rem;
}

ul.wp-block-archives li.menu-item-has-children, ul.wp-block-archives li:last-child,
.wp-block-categories li.menu-item-has-children,
.wp-block-categories li:last-child,
.wp-block-latest-posts li.menu-item-has-children,
.wp-block-latest-posts li:last-child {
  padding-bottom: 0;
}

ul.wp-block-archives li a,
.wp-block-categories li a,
.wp-block-latest-posts li a {
  text-decoration: none;
}

ul.wp-block-archives li ul,
.wp-block-categories li ul,
.wp-block-latest-posts li ul {
  padding-left: 1rem;
}

.wp-block-categories ul {
  padding-top: 0.75rem;
}

.wp-block-categories ul ul > li > a:before {
  font-weight: normal;
  content: '—';
}

.wp-block-categories ul ul ul > li > a:before {
  content: '——';
}

.wp-block-categories ul ul ul ul > li > a:before {
  content: '———';
}

.wp-block-categories ul ul ul ul ul > li > a:before {
  content: '————';
}

.wp-block-categories ul ul ul ul ul ul > li > a:before {
  content: '—————';
}

.wp-block-categories li ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -0.75rem;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid li {
  border-top: 2px solid #ccc;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.wp-block-latest-posts.is-grid li a:after {
  content: '';
}

.wp-block-latest-posts.is-grid li:last-child {
  margin-bottom: auto;
}

.wp-block-latest-posts.is-grid li:last-child a:after {
  content: '';
}

/** === Latest Comments === */
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}

.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-date {
  font-size: 0.8rem;
}

/** === Classic Editor === */
/* Properly center-align captions in the classic-editor block */
.wp-caption dd {
  color: #767676;
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}

.wp-block-freeform {
  /* Add style for galleries in classic-editor block */
}

.wp-block-freeform blockquote {
  border-left: 2px solid currentColor;
}

.wp-block-freeform blockquote cite {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  line-height: 1.6;
  color: #767676;
}

/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
  font-family: dashicons !important;
}
