
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/site-header";
@import "header/site-featured-image";
@import "header/site-featured-image-full-top";
@import "header/site-featured-image-cover-title";
@import "header/site-featured-image-bg";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Sidebar (for local nav and widgets right)
--------------------------------------------------------------*/
@import "secondary/sidebar";
@import "secondary/sidebar-right";
@import "secondary/sidebar-left";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "primary/archives";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/site-footer";


/*
 * General
 */

/* If white footer not is set, make it light gray */
html:not(.white-footer) {

	background-color: $color__background-screen;

	.pagination,
	.post-navigation,
	.page-navigation,
	#colophon,
	.comments-area,
	.entry .entry-footer {
		background-color: $color__background-screen;
	}
}
/* If white footer, make stuff white */
html.white-footer {

	.pagination,
	#colophon, // Can this just be transparent?
	.comments-area {
		background-color: $color__background;
	}
}
