.breadcrumb,
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link,
img:after,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
}

.main-navigation,
.page-description,
.author-description .author-link,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.pagination .nav-links,
.comments-title,
.comment-author .fn,
.no-comments,
.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold; // Fallback
	font-weight: 700;
	letter-spacing: -0.0125em;
	line-height: $font__line-height-heading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-title {
	font-family: $font__body;
}

.site-branding,
.social-navigation,
.author-description .author-bio,
.nav-links {
	line-height: 1;
}

.entry-title,
h1 {
	font-size: $font__size-xl;

	@include media(desktop) {
		font-size: $font__size-xxl;
	}
}

.not-found .page-title,
.error-404 .page-title,
.has-larger-font-size,
h2 {
	font-size: $font__size-lg;

	@include media(desktop) {
		font-size: $font__size-xl;
	}
}

.has-large-font-size {
	font-size: $font__size-lg;
}

// .has-regular-font-size,
.widget-title,
.comments-title,
h3 {
	font-size: $font__size-md;
	line-height: 1;
}

.site-title,
.site-description,
.nav-links,
.page-title,
.page-description,
.comment-author .fn,
.no-comments,
h2.author-title,
p.author-bio,
h4,
h5,
h6 {
	font-size: 1rem;
}

.main-navigation,
.pagination .nav-links,
.comment-content {
	font-size: $font__size-sm;
}

.entry-meta,
.entry-footer,
.discussion-meta-info,
.site-info,
.has-small-font-size,
.comment-reply-link,
.comment-metadata,
.comment-notes,
.sticky-post,
#cancel-comment-reply-link,
img:after {
	font-size: $font__size-xs;
}

h4 {
	color: $color__text-light;
}

.site-title,
h5 {
	font-weight: normal;
}

h6 {
	font-weight: normal;
	font-weight: 300;
}

h5,
h6 {
	font-style: italic;
}

.page-description,
.page-links a {
	font-weight: bold;
}

.site-description {
	letter-spacing: -0.01em;
}

.post-navigation .post-title,
.entry-title,
.not-found .page-title,
.error-404 .page-title,
.comments-title,
blockquote {
	word-break: break-word;
}
