html:not(.left-local-menu) {
	.sidebar {
		@include media(desktop) {
			margin: 1rem 1rem 1rem;
			max-width: calc(30vw - 3rem);
			z-index: 4;
			// Position
			position: absolute;
			left: 65vw;
		}

		.local-navigation,
		.widget-area {
			background: rgba($color__background-pre, .8);
		}
	}

	.site-header.cover-title + #content .sidebar,
	.site-header.featured-image.full-top + #content .sidebar {
		margin-top: 3.5rem; // So it don't crash with h1
	}

}
