.sidebar {
	@include button-all-transition;

	display: none;

	// Size
	margin: 1rem 1rem 1rem;

	@include media(tablet) {
		margin: 1rem calc(10vw + 2rem);
	}

	@include media(desktop) {
		display: block;

		&:empty {
			display: none;
		}
	}
}

@include media(desktop) {
	.sidebar:focus-within {
		background: $color__background-body;
		outline: thin dotted;
	}
}

.sidebar .widget-area {

	display: flex;
	flex-direction: column;

	padding: 1.5rem 1rem;

	display: none;

	@include media(desktop) {

		display: flex;
		font-size: $font__size-sm;
		padding: 1.5rem 2rem;
		position: relative;
		z-index: 2;

		.widget_archive ul li, .widget_categories ul li, .widget_meta ul li, .widget_nav_menu ul li, .widget_pages ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_rss ul li {
			font-size: $font__size-sm;
		}
	}
}

.site-header.featured-image:not(.bg) + #content .widget-area.local-position:first-child {
	margin-top: 3.5rem; // So it don't crash with h1
}

/* Front page */
html.home .widget-area.local-position {
	display: none;
}

html.home .sidebar {
	display: none;
}
