html.left-local-menu.page {
	@include media(desktop) {
		padding-left: calc(15vw - 5rem);

		.site-logo {
			right: calc(100% + (1 * 2rem));
		}
	}

	.sidebar {
		background: $color__background-pre;

		@include media(desktop) {
			box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
			overflow: auto;
			z-index: 6;

			margin: 0;
			padding-top: 7.25rem;

			width: calc(25vw - 3rem);
			height: 100vh;

			// Position
			position: fixed;
			top: 0;
			left: 0;
		}
	}

	.entry .entry-content > .alignfull,
	.entry .entry-summary > .alignfull {
		@include media(desktop) {
			left: -1rem;
			width: calc( 75vw + 3rem);
			max-width: calc( 75vw + 3rem);
			z-index: 7;
		}
	}
}
