.widget {
	margin: 0 0 #{$size__spacing-unit};

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	a {
		color: $color__link;

		&:hover {
			color: $color__link-hover;
		}
	}
}

.widget-title {
	margin-top: 0;
}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {

	ul {
		padding: 0;
		list-style: none;

		li {
			color: $color__text-light;
			font-family: $font__heading;
			font-size: 1rem;
			font-weight: 700;
			line-height: $font__line-height-heading;
			margin-top: #{0.5 * $size__spacing-unit};
			margin-bottom: #{0.5 * $size__spacing-unit};
		}
	}
}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul {
		@include nestedSubMenuPadding();
	}
}

.widget_tag_cloud {

	.tagcloud {
		font-family: $font__heading;
		font-weight: 700;
	}
}


.widget_search {

	.search-field {
		width: auto;
		max-width: 100%;

		@include media(desktop) {
			width: 100%;
		}
	}

	.search-submit {
		display: block;
		margin-top: $size__spacing-unit;
	}
}

.widget_calendar .calendar_wrap {
	text-align: center;

	table td,
	table th {
		border: none;
	}

	a {
		text-decoration: underline;
	}
}

.widget_nav_menu {

	.sub-menu {

		font-size: $font__size-sm;
		list-style: disc;
		padding-left: 1rem;

		li {
			font-size: $font__size-sm;
		}
	}

}

.widget_nav_menu [aria-current="page"] {
	color: $color__text-main;
	text-decoration: underline;
}

.widget_categories ul {
	display: flex;
	flex-wrap: wrap;

	.cat-item:not(:last-child):after {
		content: ',';
		position: relative;
		left: -.25em;
	}
}
