/* Site footer */

#colophon {
	overflow-x: hidden; // Should fix horizontal scrollbar on IE/windows browsers
	position: relative;

	.widget-area {
		@include postContentMaxWidth();
	}

	.widget-area,
	.site-info {
		margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit;

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins;
		}
	}

	.widget-column {
		display: flex;
		flex-wrap: wrap;

		.widget {
			width: 100%;
		}

		@include media(desktop) {
			justify-content: space-between;

			.widget {
				width: calc(50% - (3 * #{$size__spacing-unit}));
			}
		}
	}

	.site-info {
		color: $color__text-input;

		a {
			color: inherit;
			display: inline-block;
			font-weight: bold;
			font-weight: 700;
			padding: .25rem 0;
			white-space: nowrap;

			&:hover {
				text-decoration: underline;
				color: $color__link;
			}
		}

		.site-name {
			margin-right: $size__spacing-unit;
		}

		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}

		span[role="separator"]:not(:last-child):before {
			content: none;
			margin-right: 1.1rem;
		}
	}
}
