.site-header.featured-image.full-top {
	.site-featured-image {
		.entry-header {
			margin-top: calc( 4 * #{$size__spacing-unit});
			margin-bottom: 1rem;

			position: relative;
			top: 1rem;

			@include media(tablet) {
				margin-top: calc( 4 * #{$size__spacing-unit});
				margin-bottom: 2rem;
			}
		}
	}
}
