// Featured image styles

html.page-no-title-fullscreen-background-filter .entry .entry-header {
	margin-top: 0;
}

// Transparent background so image shows
html.has-featured-image[class*="page-fullscreen-background"] {
	background-color: transparent;

	.full-height.wrapper {
		min-height: 100vh; /* So footer does not cover image on pages with little content */
	}

	.page-navigation,
	.entry .entry-footer {
		background-color: transparent;
	}

	.page-navigation {
		margin-bottom: 2rem;
	}
}

/* White color for body text (there are many exceptions that are not taken into
 * consideration here). */
html.page-fullscreen-background-filter.has-featured-image,
html.page-fullscreen-background-dark.has-featured-image {
	a.prev-page .icon,
	a.prev-page,
	.entry-content > *:not([class^="has-background"]) {
		/* Add text shadow to text, to increase readability. */
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
		color: $color__background-body;
	}
}

.site-header.featured-image.bg {
	padding-bottom: 0;

	.image-filters-enabled & .site-branding-container:after,
	.image-filters-enabled & .site-featured-image:after,
	.image-filters-enabled & .site-featured-image:before,
	.site-featured-image:after,
	&:after,
	.site-featured-image .post-thumbnail {
		position: fixed;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		z-index: -4;
	}

	/* z-index hiearchy */
	&:after {
		z-index: -1;
	}
	.image-filters-enabled & .site-branding-container:after {
		z-index: -2;
	}
	.image-filters-enabled & .site-featured-image:after {
		z-index: -3;
	}

	// .image-filters-enabled & .site-featured-image:before {
	// }
	// .site-featured-image:after {
	// }
	// .site-featured-image .post-thumbnail {
	// }


	.site-featured-image .entry-header {

		margin-top: 1rem;
		margin-bottom: .5rem;

		@include media(tablet) {
			margin-top: calc( 3 * #{$size__spacing-unit});
		}
	}
}
