// Site header

.site-header {
	padding: 1rem;

	.featured-image,
	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&.full-top {
			min-height: 90vh;
		}

		&.cover-title {
			min-height: $cover_height;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.site-branding-container {
			margin-bottom: auto;
		}
	}

	@include media(tablet) {
		margin: 0;
		padding: 3rem 0;

		.featured-image,
		&.featured-image {
			margin-bottom: 0;

			&.full-top {
				min-height: 100vh;
			}
		}

		&.cover-title {
			padding-bottom: 0;
		}
	}
}

.site-header.cover-title .site-branding {
	padding-bottom: 1rem;

	@include media(tablet) {
		padding-bottom: 3rem;
	}
}

// Site branding

.site-branding {

	color: $color__text-light;
	position: relative;

	@include media(tablet) {
		margin: 0 $size__site-margins;
	}
}

// Site logo

.site-logo {

	position: relative;
	z-index: 999;
	margin-bottom: .5rem;

	@include media(tablet) {
		margin-bottom: 0;
		position: absolute;
		right: calc(100% + (1.25 * #{$size__spacing-unit}));
		// top: 4px; // Accounts for box-shadow widths
		z-index: 999;
	}

	.custom-logo-link {
		border-radius: 100%;
		box-sizing: content-box;
		box-shadow: 0 0 0 0 transparent;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		overflow: hidden;
		transition: box-shadow $background_transition ease-in-out;

		.custom-logo {
			min-height: inherit;
		}

		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px $color__text-light;
		}

		@include media(tablet) {
			width: 3.25rem;
			height: 3.25rem;
			position: relative;
			top: -.5rem;
		}
	}
}

// Site title

.site-title {
	margin: auto;
	display: inline;
	color: $color__text-main;

	a {
		color: $color__text-main;
		font-weight: bold;
		font-weight: 700;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}

	.featured-image & {
		margin: 0;

		@include media(tablet) {
			display: inline-block;
		}
	}

	/* When there is no description set, make sure navigation appears below title. */
	+ .main-navigation {
		display: block;
	}

	@include media(tablet) {
		display: inline;
	}

	&:not(:empty) + .site-description:not(:empty):before {
		content: "–";
		margin: 0 .2em;
	}
}

// Site description

.site-description {
	display: inline;
	color: $color__text-light;
	font-weight: normal; // Fallback (also this will apply when not only using sans font)
	margin: 0;
}
