$color__type-black: #111;
$color__primary: #0073aa;
$color__secondary: #21759b;

// Backgrounds
$color__background-body: #fff;
$color__background: $color__background-body;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__primary;
$color__background-button-hover: $color__type-black;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__background-button, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );

// Text
$color__text-main: $color__type-black;
$color__text-light: #767676;
$color__text-hover: lighten( $color__type-black, 22.5% );
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: $color__type-black;

// Links
$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: darken( $color__link, 10% );

// Borders
$color__border: #ccc;
$color__border-link: $color__primary;
$color__border-link-hover: darken( $color__link, 10% );
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;
