$border_radius: .25rem;

// Responsive widths.

$size__spacing-unit: 1rem;
$size__site-main: 100%;
$size__site-sidebar: 10vw;
$size__site-margins: calc(10vw + 3rem);
$size__site-tablet-content: calc(66.67vw - 1rem);
$size__site-desktop-content: calc(50vw - 1rem);

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

// Heights.

$cover_height: 20rem;
