.breadcrumb {
	font-size: $font__size-sm;
	font-style: italic;

	position: relative;
	top: 1.25rem;

	@include media(tablet) {
		top: 2.25rem;
	}

	ul {
		margin: 1rem 0;
		padding: 0;

		li {
			display: inline;

			&:after {
				content: '/';
				margin: 0 .5em;
			}

			&:last-child {
				display: none;

				&:after {
					content: none;
				}
			}

			a,
			&:after {
				color: $color__text-light;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

html.has-featured-image .site-header .breadcrumb {
	top: .5rem;

	@include media(tablet) {
		top: .5em;
	}
}

// Remove bottom padding on header when breadcrumb
html.has-breadcrumb:not(.has-featured-image) .site-header {
	padding: 1rem 1rem 0;

	@include media(tablet) {
		padding: 3rem 0 0;
	}
}

// Put back bottom padding on certain pages (basically only normal pages should
// get above removal of bottom padding)
html.single-post,
html.hfeed,
html.archive,
html.search,
html.error404 {
	&.has-breadcrumb:not(.has-featured-image) .site-header {
		padding: 1rem;

		@include media(tablet) {
			padding: 3rem 0;
		}
	}
}

html.page-no-title-fullscreen-background-filter .breadcrumb {
	display: none;
}
