/** === Local menu === */

.sidebar .entry .local-navigation,
.local-navigation {
	display: none;

	flex-direction: column-reverse;

	font-family: $font__heading;
	font-weight: normal;
	padding: .5rem 1rem;
	position: relative;

	@include media(desktop) {
		display: flex;
		padding: 0 2rem 1rem;
	}

	&[hidden] {
		display: none;
	}

	a {
		font-weight: normal;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	li {
		line-height: 1;
		padding: .25em 0;
	}

	.sub-menu > li {
		position: relative;

		&:hover, &:focus {
			&:before {
				color: $color__text-main;
			}
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}

	.sub-menu {
		font-size: $font__size-sm;
		font-weight: normal;

		padding-top: .25em;
		padding-bottom: .25em;

		.sub-menu {
			color: $color__text-light;
			list-style: disc;
			padding-left: 1rem;
			padding-bottom: 0;
			position: relative;
		}
	}

	// First level
	> div > ul.local-menu > li {
		@include post-section-dash();
	}

	a[aria-current="page"]:before,
	a[aria-current="page"] {
		color: $color__text-main;
		font-weight: bold;
		font-weight: 700;
	}

}

/*
 * Entry content menu.
 */
#entry-content-menu {
	color: $color__text-light;
	font-size: $font__size-sm;
	line-height: 1;
	list-style: disc;
	padding-left: 1rem;

	&:before {
		color: $color__text-main;
		display: block;
		font-weight: bold;
		font-weight: 700;
		margin-bottom: .25em;

		position: relative;
		left: -1rem;
	}

	li > a {
		font-weight: normal;
	}

	> li:first-child {
		display: flex;
		align-items: center;
		margin-bottom: .25em;
		position: relative;
		left: -1rem;

		a {
			font-weight: bold;
			font-weight: 700;

			&:before {
				content: none;
			}
		}
	}
}

html[lang*="en"] #entry-content-menu:before {
	content: 'Current page content:';
}

html[lang^="nb"] #entry-content-menu:before {
	content: 'Innhold på denne siden:';
}

/*
 * Next/prev buttons
 */
.page-navigation {
	@include button-all-transition;

	padding: 0 $size__spacing-unit;

	@include media(tablet) {
		padding-right: $size__site-margins;
		padding-left: $size__site-margins;
	}

	> * {
		display: block;
		width: 100%;

		@include media(tablet) {
			width: $size__site-tablet-content;
		}

		@include media(desktop) {
			width: $size__site-desktop-content;
		}
	}

	.prev-next-page {
		@include clearfix;

		a {
			@include button-transition;

			&[hidden] {
				display: none !important;
			}
		}

		a.next-page {
			display: block;
			float: right;
		}

		a.prev-page {
			display: block;
			float: left;
			margin-right: .5rem;
			margin-left: -1rem;

			.icon {
				color: $color__text-light;
			}
		}

		a.button {
			color: white;

			&:hover, &:focus {
				background-color: $color__text-main;
				border-color: $color__text-main;
				color: white;
			}

			.help-text {
				font-weight: normal;
			}
		}
	}
}

// For serif (default) theme setting, set arrow to serif
html:not(.font-sans) .prev-next-page .help-text {
	font-family: $font__body;
}

// Hide local nav on home/front page
html.home .local-navigation,
html.home .prev-next-page {
	display: none;
}

