/* Next/Previous navigation */

// Singular navigation
.post-navigation {

	margin: 0;

	.nav-links {

		margin: 0 $size__spacing-unit;
		max-width: 100%;
		display: flex;
		flex-direction: column;

		@include media(tablet) {
			margin-left: $size__site-margins;
			max-width: $size__site-tablet-content;
		}

		@include media(desktop) {
			flex-direction: row;
			margin: 0 $size__site-margins;
			max-width: $size__site-desktop-content;
		}

		a {
			.meta-nav {
				color: $color__text-light;
				font-size: $font__size-sm;
				user-select: none;

				&:before,
				&:after {
					display: none;
					content: "—";
					width: 2em;
					color: $color__text-light;
					height: 1em;
				}
			}

			&:hover {
				color: $color__link-hover;
			}
		}

		.nav-previous,
		.nav-next {

			@include media(desktop) {
				min-width: calc(50% - 2 * #{$size__spacing-unit});
			}
		}

		.nav-previous {
			order: 2;

			@include media(desktop) {
				order: 1;
			}

			+ .nav-next {
				margin-bottom: $size__spacing-unit;
			}

			.meta-nav {
				&:before {
					content: '← ';
					display: inline;
				}
			}
		}

		.nav-next {
			order: 1;

			@include media(desktop) {
				order: 2;
				padding-left: $size__spacing-unit;
			}

			.meta-nav {
				&:after {
					content: ' →';
					display: inline;
				}
			}
		}
	}
}

// Index/archive navigation
.pagination {
	padding-top: 1rem;

	.nav-links {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		margin: 0 .5rem;


		& > * {
			padding: calc(.5 * #{$size__spacing-unit});

			&.dots,
			&.prev {
				padding-left: 0;
			}

			&.dots,
			&.next {
				padding-right: 0;
			}

			&.next,
			&.prev {
				height: 1em;
				display: flex;
				justify-content: center;
				align-items: center;
			}

		}

		a:focus {
			text-decoration: underline;
			outline-offset: -1px;

			&.prev,
			&.next {
				text-decoration: none;

				.nav-prev-text,
				.nav-next-text {
					text-decoration: underline;
				}
			}
		}

		.nav-next-text,
		.nav-prev-text {
			display: none;
		}

		@include media(tablet) {

			margin-left: $size__site-margins;
			position: relative;
			left: -.5rem;

			justify-content: flex-start;

			> * {
				&.prev,
				&.next {
					.nav-next-text,
					.nav-prev-text {
						display: inline-block;
					}
				}
			}

		}
	}
}

// Comments navigation
.comment-navigation {

	.nav-links {
		display: flex;
		flex-direction: row;
	}

	.nav-previous,
	.nav-next {
		min-width: 50%;
		width: 100%;
		font-family: $font__heading;
		font-weight: bold;

		.secondary-text {
			display: none;

			@include media(tablet) {
				display: inline;
			}
		}

		svg {
			position: relative;
			margin: 0 -0.35em;
			top: -1px;
		}
	}

	.nav-next {
		text-align: right;
	}
}
