html.archive,
html.search {
	article:not(.sticky) .entry-title {
		@include post-section-dash();
	}
}

html.hfeed .post .entry-title a:not(:hover) {
	color: inherit;
}

html.archive,
html.search,
html.error404 {

	#content {
		padding-bottom: 2rem;
	}

	.entry {
		margin-top: 2rem;
	}

	.page-header {

		font-style: italic;
		margin-top: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 3rem;

		@include media(tablet) {
			margin-top: 0;
			margin-left: $size__site-margins;
			margin-right: $size__site-margins;
			margin-bottom: 4rem;
		}

		.page-title,
		.search-term,
		.page-description {
			color: $color__text-light;
			display: inline;
			font-family: $font__heading;
			font-weight: normal;
			font-size: $font__size-sm;

		}

		.page-title {
			letter-spacing: normal;
		}

		.search-term,
		.page-description {
			display: inline;
			clear: both;

			&:before {
				content: " ";
			}
		}
	}
}

.hfeed,
.archive,
.search,
.error404 {
	.entry {
		.entry-content {
			> .alignfull[class*="has-background"] {
				margin-bottom: 0;
			}
		}

		.entry-footer {
			margin-top: 0;
			margin-bottom: 2rem;

			background: transparent;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.page-content {

		margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
		}
	}

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
