.sticky {
	display: block;
}

.sticky-post {
	background: $color__background-button;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: .25rem;
	text-transform: uppercase;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1rem;
}

.entry {

	margin-top: 3rem;

	&:first-of-type {
		margin-top: 0;
	}

	.entry-header {

		margin: 1rem 1rem 0;
		position: relative;

		@include media(tablet) {
			margin: 2rem $size__site-margins 0;
		}

	}

	.entry-meta,
	.entry-footer {

		clear: both;
		color: $color__text-light;
		font-weight: 500;

		> span {

			margin-right: 1rem;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}
		}

		a {

			@include link-transition;
			color: currentColor;

			&:hover {
				text-decoration: none;
				color: $color__link;
			}
		}

		.svg-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.5em;
		}
	}

	.entry-meta {
		margin: ($size__spacing-unit / 2) 0;
	}

	.entry-footer {

		margin: 0;
		padding: calc(2 * #{$size__spacing-unit}) $size__spacing-unit;

		@include media(tablet) {
			padding-right: $size__site-margins;
			padding-left: $size__site-margins;
		}

		> * {
			@include postContentMaxWidth();
		}

	}

	.post-thumbnail {

		/* Cover style */
		height: 20rem;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;

		&:focus {
			outline: none;
		}

		.post-thumbnail-inner {
			display: block;

			&:after {
				background: black;
				content: "";
				display: block;
				height: 100%;
				opacity: .5;
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				z-index: 4;
			}

			img {
				position: relative;
				display: block;
				min-width: 100vw;
				min-height: 100%;
				max-width: none;
			}
		}
	}

	.image-filters-enabled & {

		.post-thumbnail {
			position: relative;

			.post-thumbnail-inner {
				filter: grayscale(100%);

				&:after {
					background: rgba(0, 0, 0, 0.35);
					content: "";
					display: block;
					height: 100%;
					opacity: .5;
					pointer-events: none;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 4;

					@supports (mix-blend-mode: multiply) {
						display: none;
					}
				}
			}

			&:before,
			&:after, {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				content: "\020";
				pointer-events: none;
			}

			@include filter-duotone;

		}
	}

	.entry-content,
	.entry-summary {
		max-width: calc(100% - 2rem);
		margin: 0 1rem;

		@include media(tablet) {
			max-width: 80vw;
			margin: 0 10vw;
			padding: 0 3rem;
		}

	}

	.entry-content {

		p {
			word-wrap: break-word;
		}

		.more-link {
			@include link-transition;

			display: block;
			color: inherit;

			&:after {
				content: "\02192";
				display: inline-block;
				margin-left: 0.5em;
			}

			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
		}

		a {
			text-decoration: underline;

			&.button,
			&:hover {
				text-decoration: none;
			}

			&.button {
				display: inline-block;
			}

			&.button:hover {
				background: $color__background-button-hover;
				color: $color__background-body;
				cursor: pointer;
			}
		}

		// Overwrite iframe embeds that have inline styles.
		> iframe[style] {

			margin: 1rem 0 !important;
			max-width: 100% !important;

			@include media(tablet) {
				max-width: $size__site-tablet-content !important;
			}

			@include media(desktop) {
				max-width: $size__site-desktop-content !important;
			}
		}

		// Page links
		.page-links a {
			margin: calc(0.5 * #{$size__spacing-unit});
			text-decoration: none;
		}

		// Classic editor audio embeds.
		.wp-audio-shortcode {
			max-width: calc(100vw - (2 * #{ $size__spacing-unit }));

			@include media(tablet) {
				max-width: $size__site-tablet-content;
			}

			@include media(desktop) {
				max-width: $size__site-desktop-content;
			}
		}
	}
}

.entry.has-post-thumbnail .entry-header {
	margin-top: 0;

	min-height: 20rem;
	position: absolute;
	z-index: 5;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.entry-title {
	margin: 0;
}

.single-post .entry-title,
.post:not(.sticky) .entry-title {
	@include post-section-dash();
}

/* Author description */

.author-bio {
	margin: calc(2 * #{$size__spacing-unit}) 0 $size__spacing-unit;

	.author-title {
		color: $color__text-main;
		display: inline;
	}

	.author-description {

		display: inline;
		color: $color__text-main;
		font-size: 1rem;
		line-height: $font__line-height-heading;

		.author-link {
			display: inline-block;
			text-decoration: underline;

			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
		}
	}
}

body:not(.font-sans) .author-bio .author-description {
	font-family: $font__body;
}

.single .entry .entry-content > .alignfull[class*="has-background"]:last-child {
	margin-bottom: 0;
}

// No title templates

html[class*="page-no-title"] .entry-title {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
